<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header [class.dark]="isDark">
    <nav
        [@toggleNavbar]="toggleNavbar"
        #navbar
        [ngClass]="{ 'backdrop-blur-lg': toggleNavbar }"
        class="fixed left-0 right-0 start-0 top-0 z-20 w-full border-b mix-blend-hard-light shadow-sm backdrop-blur dark:border-gray-600 dark:bg-gray-900">
        <div
            class="relative mx-auto flex max-w-screen-1xl flex-wrap items-center justify-center p-4 md:h-full">
            <a
                [routerLink]="['']"
                class="absolute left-8 flex items-center space-x-3 rtl:space-x-reverse xl:left-0">
                @if (isHome) {
                    <img
                        src="assets/LOGO_BANCHA.svg"
                        class="h-9"
                        loading="lazy"
                        alt="Sarah Fleury Logo" />
                } @else {
                    <img
                        src="assets/LOGO_BANCHA.svg"
                        class="h-9"
                        loading="lazy"
                        alt="Sarah Fleury Logo" />
                }
            </a>
            <div
                class="flex w-full items-center justify-end space-x-3 md:order-2 md:space-x-0">
                <button
                    #navbarToggle
                    data-collapse-toggle="navbar-sticky"
                    type="button"
                    class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-bancha-800 hover:bg-bancha-500 focus:outline-none focus:ring-2 focus:ring-bancha-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
                    aria-controls="navbar-sticky"
                    (click)="toggleNavbar = !toggleNavbar"
                    aria-expanded="false">
                    <svg
                        class="h-5 w-5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14">
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div
                class="hidden h-full w-full items-center justify-center md:order-1 md:flex md:w-auto"
                id="navbar-sticky">
                <ul
                    class="mt-4 flex h-full flex-col items-center justify-center rounded-lg border font-medium rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:dark:bg-gray-900">
                    @for (item of navBar; track $index) {
                        <li>
                            <a
                                (click)="scrollTo(item.scrollTo)"
                                #navbarLinks
                                class="block cursor-pointer rounded px-3 py-2 font-semibold text-bancha-800 transition-colors duration-150 ease-in-out hover:text-bancha-900 md:bg-transparent md:p-0"
                                routerLinkActive="text-bancha-900 !font-semibold">
                                {{ item.name }}
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- ACTIONS -->
        </div>
        @if (toggleNavbar) {
            <!-- Nav Bar Menu -->
            <ul
                class="my-auto flex h-[84%] flex-col items-center justify-center gap-[15%] font-medium">
                @for (item of navBar; track $index) {
                    <li>
                        <a
                            @fadeIn
                            (click)="toggleNavbar = !toggleNavbar"
                            (click)="scrollTo(item.scrollTo)"
                            #navbarLinks
                            class="block cursor-pointer rounded px-3 py-2 font-satista text-5xl font-bold text-bancha-800 transition-colors duration-150 ease-in-out hover:text-bancha-900 md:p-0"
                            routerLinkActive="text-bacnha-900 !font-semibold">
                            {{ item.name }}
                        </a>
                    </li>
                }
            </ul>
        }
    </nav>
</header>
<div
    class="flex h-full flex-col overflow-y-auto"
    [ngClass]="{ '': toggleNavbar }"
    @fadeIn>
    <router-outlet class="h-full"></router-outlet>
    <footer class="bg-cream-75 p-4 dark:bg-gray-800 sm:p-6">
        <div class="mx-auto max-w-screen-1xl">
            <hr
                class="my-6 border-bancha-800 dark:border-gray-700 sm:mx-auto lg:my-8" />
            <div class="flex items-center justify-between">
                <span
                    class="text-sm text-bancha-800 dark:text-gray-400 sm:text-center">
                    © {{ currentYear }}
                    <a href="/" class="hover:underline">Sarah Fleury</a>
                    .
                </span>
                <!-- <div class="flex space-x-6">
                  <a class="text-bancha-800 dark:text-gray-400">
                      Mention légales
                  </a>
              </div> -->
            </div>
        </div>
    </footer>
</div>
