@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Satista';
    src: url(assets/fonts/Satista.otf) format('opentype');
}

@font-face {
    font-family: 'Ultra';
    src: url(assets/fonts/Ultra-Regular.ttf) format('truetype');
}

// ::view-transition-old(root) {
//     animation:
//         90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
//         300ms cubic-bezier(0.4, 0, 0.2, 1) 90ms both fade-in;
// }

// ::view-transition-new(root) {
//     animation:
//         210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
//         300ms cubic-bezier(0.4, 0, 0.2, 1) 90ms both fade-in;
// }
